<!-- form-movements.html -->
<md-subheader class="md-primary">Movimientos y Frente</md-subheader>

<md-list>
    <md-list-item ng-repeat="f in $root.selectedBattle.frontlines" ng-click="doPrimaryAction($event)" class="noright">
        <md-icon 
            class="material-icons"
            ng-style="{color: '{{f.color}}', 'font-size': 36 + 'px', height: 36 + 'px'}"
            >{{f.avatar}}
        </md-icon>
        <p>{{ f.title }}</p>
        <md-icon class="md-secondary material-icons" aria-label="delete-marker" ng-click="deletePath($event, f.id)">delete</md-icon>
    </md-list-item>
</md-list>

<div layout-gt-xs="row">
    <md-button class="md-raised" ng-disabled="$ctrl.drawingPath" ng-click="addPath($event)" flex-gt-xs>
        Agregar
    </md-button>
</div>

<div layout-gt-xs="row">
    <md-button ui-sref="form.markers" class="md-raised md-primary" flex-gt-xs>
        Anterior
    </md-button>

    <md-button ng-click="updateBattle()" class="md-raised md-primary" flex-gt-xs>
        Guardar
    </md-button>
</div>