<!-- form-belligerents.html -->
<md-subheader class="md-primary">Beligrantes</md-subheader>

<v-accordion class="vAccordion--default" multiple>

    <v-pane ng-repeat="b in $root.battle.belligerents" expanded>
        <v-pane-header>
            <md-icon ng-hide="!$root.adminLogged" class="md-secondary material-icons" aria-label="delete-army" ng-click="deleteFaction($event, b.faction)">delete</md-icon>
            {{b.faction}}
        </v-pane-header>

        <v-pane-content>
            <md-list>
                <md-list-item faction="{{b.faction}}" army-id="{{ army.id }}" ng-repeat="army in b.armies" ng-click="doPrimaryAction($event)"
                    class="noright">
                    <img alt="{{ army.title }}" ng-src="/assets/img/flags/ui/{{ army.icon }}.png" class="md-avatar" />
                    <p>{{ army.title }}</p>
                    <md-icon ng-hide="!$root.adminLogged" class="md-secondary material-icons" aria-label="delete-army" ng-click="deleteArmy($event, b.faction, army.id)">delete</md-icon>
                </md-list-item>
            </md-list>

            <div ng-hide="!$root.adminLogged" layout-gt-xs="row">
                <md-button ng-click="addArmy($event, b.faction)" flex-gt-xs>
                    Agregar
                </md-button>
            </div>
        </v-pane-content>

    </v-pane>

    <div ng-hide="!$root.adminLogged" layout-gt-xs="row">
        <md-button class="md-raised" ng-click="addBelligerent($event)" flex-gt-xs>
            Agregar
        </md-button>
    </div>

</v-accordion>

<div layout-gt-xs="row">
    <md-button ui-sref="form.wikipedia" class="md-raised md-primary" flex-gt-xs>
        Anterior
    </md-button>

    <md-button ui-sref="form.markers" class="md-raised md-primary" flex-gt-xs>
        Siguiente
    </md-button>
</div>