<!-- form-basicinfo.html -->
<md-subheader class="md-primary">Informacion Basica</md-subheader>

<md-input-container class="md-block">
    <label>Nombre</label>
    <input ng-model="$root.selectedBattle.name" required name="name">
    <div class="hint">Nombre de la batalla</div>
</md-input-container>

<md-input-container class="md-block">
    <label>Operacion</label>
    <input ng-model="$root.selectedBattle.operation">
    <div class="hint">Operacion a la cual pertenecio</div>
</md-input-container>

<md-input-container class="md-block" required>
    <label>Conflicto</label>
    <input ng-model="$root.selectedBattle.conflict">
    <div class="hint">Conflicto belico al cual pertenecio</div>
</md-input-container>

<md-input-container class="md-block" required>
    <label>Locacion</label>
    <input ng-model="$root.selectedBattle.location">
    <div class="hint">Ciudad, Region y/o Pais donde sucedio</div>
</md-input-container>

<md-input-container class="md-block">
    <label>Comienzo</label>
    <md-datepicker ng-model="$root.selectedBattle.start" md-current-view="year"></md-datepicker>
    <div class="hint">Fecha de comienzo</div>
</md-input-container>

<md-input-container class="md-block">
    <label>Finalizacion</label>
    <md-datepicker ng-model="$root.selectedBattle.end" md-current-view="year"></md-datepicker>
    <div class="hint">Fecha de finalizacion</div>
</md-input-container>

<md-input-container class="md-block">
    <label>Resultado</label>
    <input ng-model="$root.selectedBattle.result">
    <div class="hint">Cual fue el Resultado?</div>
</md-input-container>

<div layout-gt-xs="row">
    <md-button ui-sref="form.belligerents" class="md-raised md-primary" flex-gt-xs>
        Siguiente
    </md-button>
</div>