<!-- form-markers.html -->
<md-subheader class="md-primary">Marcadores</md-subheader>

<md-list>
    <md-list-item ng-repeat="m in battle.markers" ng-click="doPrimaryAction($event)" class="noright">
        <img alt="{{ m.title }}" ng-src="{{ m.icon.url }}" class="md-avatar" />
        <p>{{ m.title }}</p>
        <md-icon class="md-secondary material-icons" aria-label="delete-marker" ng-click="deleteMarker($event, m.id)">delete</md-icon>
    </md-list-item>
</md-list>

<div layout-gt-xs="row">
    <md-button class="md-raised" ng-click="addMarker($event)" flex-gt-xs>
        Agregar
    </md-button>
</div>

<div layout-gt-xs="row">
    <md-button ui-sref="form.belligerents" class="md-raised md-primary" flex-gt-xs>
        Anterior
    </md-button>

    <md-button ui-sref="form.movements" class="md-raised md-primary" flex-gt-xs>
        Siguiente
    </md-button>
</div>