<md-bottom-sheet class="md-list md-has-header">

    <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
            <h1 flex>Listado de Batallas</h1>
            <md-button class="md-icon-button" ng-click="close()" aria-label="Settings">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    
    <md-input-container class="md-block">
        <label>Filtrar</label>
        <input ng-model="$ctrl.input">
    </md-input-container>

    <!-- Tabla con las batallas -->
    <md-table-container>
        <table md-table md-row-select ng-model="selected">
            <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="name"><span>Nombre</span></th>
                    <th md-column md-order-by="operation"><span>Operacion</span></th>
                    <th md-column md-order-by="conflict">Conflicto</th>
                    <th md-column md-order-by="location">Locacion</th>
                    <th md-column md-order-by="date">Fecha</th>
                    <th md-column md-order-by="result">Resultado</th>
                </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="battle" md-auto-select ng-repeat="battle in items | orderBy:query.order | filter:$ctrl.input" ng-click="selectBattle(battle)">
                <td md-cell>{{battle.name}}</td>
                <td md-cell>{{battle.operation}}</td>
                <td md-cell>{{battle.conflict}}</td>
                <td md-cell>{{battle.location}}</td>
                <td md-cell>{{battle.start.year}}</td>
                <td md-cell>{{battle.result}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <!--
    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{items.count}}" md-page-select></md-table-pagination>
    -->
</md-bottom-sheet>