<!-- Facebook Comments -->
<section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <div class="md-toolbar-tools">
                <h1 flex>Comentarios</h1>
                <md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Settings">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div id="fb-root"></div>
        <div class="fb-comments" data-width="100%" data-href="{{fbhref}}" data-numposts="5"></div>   
    </md-sidenav>
</section>