<!-- Header Main Toolbar -->
		<md-toolbar layout="row" data-role="navigation">
			<div class="md-toolbar-tools">
				<span>&nbsp;&nbsp;</span>
				<img src="/assets/img/logo.png" alt="" class="MEAN-Logo"/>
				<h2>&nbsp;Mean Battle Maps</h2>
				<span flex></span>
				<md-button class="md-button" ng-show="!adminLogged" ng-click="showAdvanced()" aria-label="Login">
					Login
				</md-button>
			</div>
		</md-toolbar>



<!-- Panel de Formulario para Login 
<section layout="row" flex>

    <md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4">

		<!-- Las vistas de cada etapa del Formulario se inyectan aca 
        <div ui-view></div>

    </md-sidenav>

</section>-->