.MEAN-Logo {
  height: 80%
}

.fb-comments {
    
}

md-toast {
    right: 320px;
    top: 10%;
}

/* MAP
============================================================================= */
/* Height: 100% de la altura de la pantalla. Width: Se ajusta para completar. */
my-map {
  width: auto; 
  height: 100vh;
}

/* FORMS
============================================================================= */
.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; 
}
.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0; 
}
.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1; 
}

/* ANIMATION STYLINGS
============================================================================= */

#map-form            { position:relative; min-height:300px; overflow:hidden; }
#form-views             { width:auto; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}

/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;   
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}
